.cart-dropdown-container {
	position: absolute;
	width: 300px;
	height: 400px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	border: 1px solid black;
	background-color: white;
	top: 63px;
	left: 240px;
	z-index: 5;
}

.cart-items {
	height: 400px;
	display: flex;
	flex-direction: column;
	overflow: auto;
}